{% extends 'reviews/base.html' %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {% comment %} <title>thank you</title> {% endcomment %}

{% block title %}thank you{% endblock title %}
{% comment %} 
</head>
<body> {% endcomment %}


{% block content %}
<h1>Thank you</h1>
<p>
    {{ message }}
</p>
{% endblock content %}




{% comment %} </body>
</html> {% endcomment %}