
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #f2f2f2; /* Set the background color to a light gray (#f2f2f2) */
  font-family: 'Roboto', sans-serif;
  color: #333;
}
